@charset "utf-8";
img,video,audio{
    max-width: 100%;
}
html,body,p{margin:0px; padding:0px;
            overflow:show;height:100%;
            word-wrap: break-word;
}
html,body{font-family: "Comic Sans MS", cursive, sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: "Comic Sans MS", cursive, sans-serif;}

/*h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;}*/